page-home {
    ion-content{
        background-image: url("../../assets/imgs/lo.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent !important;
    }
}
